/OperadoresAritmeticos/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/OperadoresAritmeticos/build/
/OperadoresAsignacion/OperadoresAsignacion/nbproject/private/
/OperadoresAsignacion/OperadoresAsignacion/build/
